@import url(variables.css);
@import url(fonts.css);



body {
    background-color: var(--body-bg-color);
    align-items: center;
    margin: 0px 10%;
}

header {
    position: relative;
    background-color: var(--orig-brown);
    margin: 0px -16.5%;
    align-items: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin: 3.1% 0px;
    width: var(--logo-width);
    max-width: 80%;
    height: (var(--logo-width)*0.068235);
    max-height: 80%;
}



.center_logo {
    text-align: center;
}

.homebutton {
    position: absolute;
    margin: 8px;
    margin-bottom: 0px;
    bottom: 0px;
    width: 1000px;
}

.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0 13%;
    overflow: hidden;
    background-color: var(--menu-bar);
    border-top: var(--header-border) solid black;
    border-bottom: var(--header-border) solid black;
}

.li_menu {
    float: left;
}

.menu_text {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: var(--header-text-size);
    padding: var(--header-height) var(--header-spacing);
    text-decoration: none;
    font-family: 'baskerville', serif;
}

.menu_text:hover {
    background-color: rgb(200, 200, 200);
}

.custom_home {
    width: 1600px;
    height: 400px;
}

.top_pic {
    height: var(--top-pic-height);
    width: (var(--top-pic-height)*(10831/3148));
    margin-left: -10vw;
}

.top_pic_contact {
    height: var(--top-pic-height);
    width: (var(--top-pic-height)*(1912/554));
    margin-left: -10vw;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 251);
}

.img_text {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: var(--image-text-size);
    font-family: 'modernsanslight', serif;
    text-shadow: 0vw 0vw .35vw rgb(0, 0, 0);
}

.img_text_contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--image-text-size);
    font-family: 'modernsanslight', serif;
    text-shadow: 0vw 0vw .35vw rgb(0, 0, 0);
}

footer {
    background-color: var(--menu-bar);
    margin: 0 -16.5%;
}

.footer_list {
    list-style-type: none;
    text-align: center;
    margin: 0 1.5vw 5vw 0;
}

.footer_li {
    display: inline-block;
}

.footer_links {
    text-decoration: none;
    margin: .5vw 2vw;
    float: left;
    font-family: 'modernsanslight', serif;
    font-size: 1.2vw;
}

.footer_links:hover {
    color: aliceblue;
}

.footer_logo {
    width: var(--footerlogo-width);
    height: (var(--footerlogo-width)*(580/8500));
    display: block;
    margin: 2vw auto 1vw auto;
}

.footer_footnotes {
    margin: 1vw 0vw 2vw 15vw;
    font-size: .75vw;
}

.contact_info {
    margin: 5vw 10vw 5vw 10vw;
}

.contact_info_two {
    margin: 5vw 10vw 5vw 4vw;
}

.contact_name {
    font-size: 3vw;
    font-weight: 800;
}

.contact_title {
    font-size: 2vw;
}

.phone_spacing {
    margin: 0 0 2vw 0;
}

.phone_spacing_bottom {
    margin: 0 0 2vw 0;
}