:root {
    --body-bg-color: rgb(255, 255, 255);
    --orig-brown: rgb(40, 29, 10);
    --menu-bar: rgb(221, 220, 218);
    --logo-width: 60vw;
    --top-pic-height: 30vw;

    --header-height: .9vw;
    --header-border: .155vw;
    --header-text-size: .83vw;
    --header-spacing: 1.5vw;

    --image-text-size: 3vw;

    --kitchenisland-width: 20vw;

    --footerlogo-width: 35vw;
}